.char__cntr {
  display: inline-block;
  color: white;
  font-size: 14px;
  position: relative;

  &.--active:before {
    content: '';
    height: 100%; width: 100%;
    position: absolute;
    background-color: blue;
    opacity: 0.5;
  }
}