@import '../../styles/_colors.scss';

$char-size: 14px;
$whitespace-size: $char-size/2;

.char__cntr {
  display: inline-block;
  position: relative;

  &.--active {
    .char {
      color: $bg;
    }
    &:before {
      content: '';
      height: 100%; width: 100%;
      position: absolute;
      background-color: $gray;
    }
  }
}
.char {
  color: $fg;
  position: relative;
  font-size: $char-size;
  &.invisible {
    opacity: 0;
  }
}

.char__whitespace {
  width: $whitespace-size;
  color: transparent;
}