@import '../../styles/_colors.scss';

.pane {
  height: 100%;
  position: relative;
  flex: 1;
  border-left: 1px dashed $fg;
}

.pane-scroll {
  overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
}

.pane__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: $black;
  opacity: 0.4;
  cursor: pointer;
}